@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
  background-color:#000;
  color:#ddd;
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

section {
  max-width: 800px;
  margin: auto;
  padding: 15vh 20px;
}

#projects {
  max-width: 85%;
}

nav {
  border: 1px solid #0ff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.body-nav {
  position: fixed;
  border-left-width: 0;
  border-right-width: 0;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  margin:0;
  border-radius:0;
  background-color: #000;
}

.body-nav > a.active {
  color: #000;
  background-color: #ddd;
}

nav > a {
  padding: 15px 30px;
  color: #ddd;
  text-decoration: none;
}

nav > a:visited, .card > a:visited, .card > a {
  color: #ddd;
}

nav > a:hover {
  background-color: #555;
}

#about {
  max-width: 600px;
}

button {
  width: 150px;
  height: 40px;
  font-size: 15px;
  background-color: rgba(0,0,0,0);
  color: #ddd;
  border: 1px solid #0ff;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  transform: scale(1.1);
}

a {
  color: #0ff;
}

a:visited {
  color: #f0f;
}

.card > img {
  width: 150px;
  height: 150px;
  margin: auto;
  display: block;
}

h1 {
  font-size: 45px;
  font-family: 'Lobster', cursive;
}

h3 {
  font-size: 30px;
}

h3.card-title {
  margin-top: 0;
  margin-bottom: 5px;
}

.card {
  border: 1px solid #0ff;
  align-content: center;
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 5px;
  width: 250px;
  margin: 10px;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

/*.card > h3, .card > img {
  float: left;
}*/

.card > p {
  float: right;
  height: 70px;
  /*text-align: left;*/
}

i {
  padding: 0 5px;
}

small {
  margin: 10px 20px;
}
