@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
  background-color:#000;
  color:#ddd;
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

section {
  max-width: 800px;
  margin: auto;
  padding: 15vh 20px;
}

#projects {
  max-width: 85%;
}

nav {
  border: 1px solid #0ff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.body-nav {
  position: fixed;
  border-left-width: 0;
  border-right-width: 0;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  margin:0;
  border-radius:0;
  background-color: #000;
}

.body-nav > a.active {
  color: #000;
  background-color: #ddd;
}

nav > a {
  padding: 15px 30px;
  color: #ddd;
  text-decoration: none;
}

nav > a:visited, .card > a:visited, .card > a {
  color: #ddd;
}

nav > a:hover {
  background-color: #555;
}

#about {
  max-width: 600px;
}

#about p {
  text-align: left;
  margin-bottom: 15px;
  line-height: 1.6;
}

.card > button, .resume-button {
  width: 150px;
  height: 40px;
  font-size: 15px;
  background-color: rgba(0,0,0,0);
  color: #ddd;
  border: 1px solid #0ff;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 15px;
}

.card > button:hover, .resume-button:hover {
  transform: scale(1.1);
}

a {
  color: #0ff;
}

a:visited {
  color: #f0f;
}

.card > img {
  width: 150px;
  height: 150px;
  margin: auto;
  display: block;
}

h1 {
  font-size: 45px;
  font-family: 'Lobster', cursive;
}

h3 {
  font-size: 30px;
}

h3.card-title {
  margin-top: 0;
  margin-bottom: 5px;
}

.card {
  border: 1px solid #0ff;
  align-content: center;
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 5px;
  width: 250px;
  margin: 10px;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

/*.card > h3, .card > img {
  float: left;
}*/

.card > p {
  float: right;
  height: 70px;
  /*text-align: left;*/
}

i {
  padding: 0 5px;
}

small {
  margin: 10px 20px;
}

.project-info-dialog {
  position: fixed;
  width: 90%;
  max-width: 1000px;
  height: 90%;
  background-color: #111;
  color: #fff;
}

.dialog-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.dialog-header > img {
  margin-right: 20px;
}

.close-button {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-section-1 {
  height: 40vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.content-section-2 {
  height: 40vh;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.project-screenshot {
  height: 100%;
  margin-left: 10px;
}

.project-details {
  justify-content: start;
  align-items: flex-start;
  max-width: 500px;
  max-height: 100%;
}

.project-details a {
  margin-right: 20px;
}

.project-details > p {
  text-align: left;
}

.arch-diagram {
  height: 100%;
  margin-right: 20px;
}

li {
  text-align: left;
}

ul {
  margin-top: 0;
  padding-top: 0;
}

.tech-stack-details {
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}

h4.carousel-header {
  font-size: 25px;
}

.skill-card {
  border: 1px solid #0ff;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skill-card > i {
  font-size: 50px;
  margin-bottom: 10px;
}

.skill-card > h4 {
  font-size: 20px;
}

.resume-button {
  margin-top: 50px;
}

.slick-prev:before, .slick-next:before {
  color: #0ff !important;
  font-size: 30px !important;
}

.slick-prev {
  margin-right: 20px;
  margin-left: 0;
}

p.skill-description {
  color: white;
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 18px;
}

@media (max-width: 768px) {
  .content-section-1, .content-section-2 {
    flex-direction: column;
    height: auto;
  }

  .project-screenshot, .arch-diagram {
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-top: 10px;
  }

  .project-details {
    align-items: center;
    text-align: center;
    max-width: 90%;
  }

  .flex-row {
    flex-direction: column;
    gap: 5px;
    align-items: center;
  }
}